<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>拜语言调用javascript第三方库，charjs</Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Base Name="by" />
        <External FileName="echarts.js" Language="JavaScript" />
        <External FileName="byEcharts.js" Language="JavaScript">
            <Class Name="echartjs" TargetFullName="byExternalEChartjs_byEChartjs" />
        </External>
    </References>
</Ku>