<?xml version="1.0" encoding="utf-8"?>
<Project>
    <Dress ClientChecked="true" ClientFormWidth="0.8" ClientFormHeight="0.8" WebChecked="true" ApplyComparisonUserChanges="false" />
    <Translation SaaSMode="false" AutoDeploy="true">
        <Client Checked="true" SolutionName="byExternalEChartjs_DesktopClient" EntryPointName="EChartjsDemoTest.identity.ClientStartup.main(string[])" DressPath="scene\client\dress\system" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" CompileOpenApplication="true" />
        <Web Checked="true" DressPath="scene\web\dress\system" />
        <ServerCSharp Checked="true" SolutionName="byExternalEChartjs_Server" EntryPointName="EChartjsDemoTest.identity.ServerStartup.main(string[])" OverwriteWebConfigFile="true" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" />
        <ServerJava Checked="true" ProjectName="byExternalEChartjs_Server" EntryPointName="EChartjsDemoTest.identity.ServerStartup.main(string[])" OverwriteConfigPropertiesFile="true" PackageChecked="true" PackageCustomizedJdkPath="" PackageUseCustomizedJdkPath="false" PackageCustomizedMavenPath="" PackageUseCustomizedMavenPath="false" PackageWarningLevel="3" PackageShowPackageInfo="true" />
        <Database Checked="true" />
    </Translation>
    <Deployment ServerKind="IISExpress" OpenWebHomePage="true" WebHomePage="index.html" OpenServerHomePage="true" Url="http://localhost:54432" WebVirtualPath="/" ServerVirtualPath="/server">
        <IISExpress Bit32="true" />
        <Tomcat CustomizedTomcatPath="" UseCustomizedTomcatPath="false" />
    </Deployment>
</Project>